.loginContainer {
    display: flex;
    align-self: center;
    width: 100%;
}

.formContainer {
    border: solid;
    border-radius: .5rem;
    padding: .5rem;
    background-color: rgb(240, 241, 243);
    font-weight: bold;
    margin: 1rem;
    align-self: center;
    
}

form > button {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
    margin-left: 1rem; 
}

.correctReturn, .incorrectReturn {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.correctReturn > button, .incorrectReturn > button {
    align-self: center;
}